{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
{% endblock %}

{% block content %}
<!-- Page Header -->
<header class="masthead" style="background-image: url({% static 'blog/img/about-bg.jpg' %})">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="page-heading">
                    <h1>About JH</h1>
                    <span class="subheading">This is what I do.</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <p>패스트 캠퍼스에서 Web Programming School 과정을 듣고 있습니다.</p>
            <p>Python과 Django를 이용한 backend-side를 공부하고 있습니다.</p><br>
        </div>
    </div>
    <div id="map" style="width: 300; height: 300px; position: relative; overflow: hidden;">
        <div class="buttons" style="position: absolute; z-index:1000;">
            <input id="to-sungsu" type="button" value="FastCampus - 성수" class="btn btn-primary btn-sm"><br>
            <!--<input id="to-gangnam" type="button" value="FastCampus - 강남" class="btn btn-secondary btn-sm">-->
        </div>
    </div>
</div>
<hr>

<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <ul class="list-inline text-center">
                    <li class="list-inline-item">
                        <a href="https://github.com/navill">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-github fa-stack-1x fa-inverse"></i>
                </span>
                        </a>
                    </li>
                </ul>
                <p class="copyright text-muted">Copyright &copy; JH Website 2019</p>
            </div>
        </div>
    </div>
</footer>
{% endblock %}

{% block extra_script %}
<script>
<!--맵 객체 생성-->
var map = new naver.maps.Map(document.getElementById('map'), {
center: new naver.maps.LatLng(37.545006, 127.057081),
zoom: 12
});

var gangnam = new naver.maps.LatLng(37.495492, 127.029336),
sungsu = new naver.maps.LatLng(37.545006, 127.057081);
var marker = new naver.maps.Marker({position: sungsu, map: map});

var contentString = [
        '<div class="iw_inner">',
        '   <h3>FastCampus-성수</h3>',
        '   <p>서울특별시 성동구 성수이로 113 / 제강빌딩 8층<br />',
        '       <a href="https://www.fastcampus.co.kr" target="_blank">https://www.fastcampus.co.kr</a>',
        '   </p>',
        '</div>'
    ].join('');
var infowindow = new naver.maps.InfoWindow({
    content: contentString
});

naver.maps.Event.addListener(marker, "click", function(e) {
    if (infowindow.getMap()) {
        infowindow.close();
    } else {
        infowindow.open(map, marker);
    }
});
infowindow.open(map, marker);

</script>
{% endblock %}

