{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
{% endblock %}

{% block content %}
{% load tagging_tags %}

<!-- Page Header -->
<header class="masthead" style="background-image: url({% static 'blog/img/post-bg.jpg' %})">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="post-heading">
                    <h1>{{object.title}}</h1>
                    <h2 class="subheading">
                        {% tags_for_object object as tags %}
                        {% if tags %}
                        {% for tag in tags %}
                        <a href="{% url 'blog:post_taggedlist' tag.name %}" style="color:#fff">#{{tag.name}} </a>
                        {% endfor %}
                        {% else %}Empty Tag{% endif %}</h2>
                    <span class="meta">Posted by JH
                    <a href="#">{{object.author}}</a> at
                    {{object.created}}</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Post Content -->
<article>
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-md-12 mx-auto">
                {{object.text|safe}}
            </div>
        </div>
    </div>
</article>
<hr>

<!--<a href="{% url 'blog:update' object.id %}">수정</a>-->
<!--<a href="{% url 'blog:delete' object.id %}">삭제</a>-->
{% endblock %}